<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <p class="page-header centered"><strong>GiftKart</strong> Admin | Add Product</p>
    <form class="signup-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product <% } %>" method="POST">
      <% if (message && !hasError) { %>
      <div class="user-message"><%= message %></div>
      <% } %>
      <% if (message && hasError) { %>
        <div class="user-message user-message--error"><%= message %></div>
      <% } %>

      <div class="form-control">
        <label for="title">Title</label>
        <input
          class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
          type="text" name="title" id="title" value="<%= oldInput.title %>">
      </div>
      
      <div class="form-control">
        <label for="price">Price</label>
        <input 
          class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
          type="number" name="price" id="price" value="<%= oldInput.price %>">
      </div>
      
      <div class="form-control">
        <label for="imageUrl">ImageUrl</label>
        <input
          class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
          type="text" name="imageUrl" id="imageUrl" value="<%= oldInput.imageUrl %>">
      </div>
      
      <div class="form-control">
        <label for="description">Description</label>
        <textarea 
          class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
          type="text" name="description" id="description" rows="7"><%= oldInput.description %></textarea>
      </div>

      <div class="form-control">
        <label for="category">Category</label>
        <div class="form-control">
          <label class="check-box-container">Card
            <input type="checkbox" id="category-card" name="category" value="card">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-control">
          <label class="check-box-container">Frame
          <input type="checkbox" id="category-frame" name="category" value="frame">
          <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-control">
          <label class="check-box-container">Other
            <input type="checkbox" id="category-other" name="category" value="other">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-control">
          <label class="check-box-container">Add more categories
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="form-control">
        <label for="quantity">Quantity</label>
        <input
          class="<%= validationErrors.find(e => e.param === 'quantity') ? 'invalid' : '' %>"
          type="number" name="quantity" id="quantity" value="<%= oldInput.quantity %>">
      </div>

      <div id="minage" class="form-control">
        <label for="minage">Minimum age</label>
        <select
          class="<%= validationErrors.find(e => e.param === 'minage') ? 'invalid' : '' %>"
          id="minage-select" 
          name="minage" 
          id="minage" 
          value="<%= oldInput.minage %>">
          <option value="0" >Select Minimum Age</option>
          <option value="1">1</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40+</option>
        </select>
      </div>

      <div id="maxage" class="form-control">
        <label for="maxage">Maximum age</label>
        <select
          class="<%= validationErrors.find(e => e.param === 'maxage') ? 'invalid' : '' %>"
          id="maxage-select" 
          name="maxage" 
          id="maxage" 
          value="<%= oldInput.maxage %>"
          required >
          <option value="0">Select Maximum Age</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40+</option>
        </select>
      </div>

      <div class="form-control">
        <label for="occasion">Occasion</label>
        <div class="form-control">
          <label class="check-box-container">Marriage
            <input type="checkbox" id="occasion-marriage" name="occasion" value="marriage">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-control">
          <label class="check-box-container">Bithday
          <input type="checkbox" id="occasion-bithday" name="occasion" value="bithday">
          <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-control">
          <label class="check-box-container">Other
            <input type="checkbox" id="occasion-other" name="occasion" value="other">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-control">
          <label class="check-box-container">Add more occasions
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="form-control">
        <label for="gender">Gender: </label>
        <select
          class="<%= validationErrors.find(e => e.param === 'gender') ? 'invalid' : '' %>"
          id="gender-select" name="gender" value="<%= oldInput.gender %>">
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="B">Both</option>
        </select>
      </div>

      <% if (editing) { %>
        <input type="hidden" value="<%= oldInput._id %>" name="productId">
      <% } %>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="btn" type="submit">
        <% if (editing) { %>
          Update Product
        <% } else { %>
          Add Product
        <% } %>
      </button>
    </form>
  </main>
  <%- include('../includes/end.ejs') %>