<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <p class="page-header centered"><strong>GiftKart</strong> Admin | Add Product</p>
    <form class="signup-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product <% } %>" method="POST">
      <% if (message && !hasError) { %>
      <div class="user-message"><%= message %></div>
      <% } %>
      <% if (message && hasError) { %>
        <div class="user-message user-message--error"><%= message %></div>
      <% } %>

      <div class="form-control">
        <label for="title">Title</label>
        <input
          class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
          type="text" name="title" id="title" value="<%= oldInput.title %>">
      </div>
      
      <div class="form-control">
        <label for="price">Price</label>
        <input 
          class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
          type="number" name="price" id="price" value="<%= oldInput.price %>">
      </div>
      
      <div class="form-control">
        <label for="imageUrl">ImageUrl</label>
        <input
          class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
          type="text" name="imageUrl" id="imageUrl" value="<%= oldInput.imageUrl %>">
      </div>
      
      <div class="form-control">
        <label for="description">Description</label>
        <textarea 
          class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
          type="text" name="description" id="description" rows="7"><%= oldInput.description %></textarea>
      </div>

      <div class="form-control">
        <label for="category">Category </label>
        <select 
          class="<%= validationErrors.find(e => e.param === 'category') ? 'invalid' : '' %>"
          id="category-select" name="category" id="category" value="<%= oldInput.category %>">
          <option value="card">Card</option>
          <option value="frame">Frame</option>
          <option value="others">Others</option>
        </select>
      </div>

      <div class="form-control">
        <label for="quantity">Quantity</label>
        <input
          class="<%= validationErrors.find(e => e.param === 'quantity') ? 'invalid' : '' %>"
          type="number" name="quantity" id="quantity" value="<%= oldInput.quantity %>">
      </div>

      <div  class="form-control">
        <label for="minage">Minimum age</label>
        <select
          class="<%= validationErrors.find(e => e.param === 'minage') ? 'invalid' : '' %>"
          id="minage-select" name="minage" id="minage" value="<%= oldInput.minage %>">
          <option value="1">1</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40+</option>
        </select>
        Years
      </div>

      <div  class="form-control">
        <label for="maxage">Maximum age</label>
        <select
          class="<%= validationErrors.find(e => e.param === 'maxage') ? 'invalid' : '' %>"
          id="maxage-select" name="maxage" id="maxage" value="<%= oldInput.maxage %>">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40+</option>
        </select>
        Years
      </div>

      <div class="form-control">
        <label for="occasion">Occasion</label>
        <select
          class="<%= validationErrors.find(e => e.param === 'occasion') ? 'invalid' : '' %>"
          id="occasion-select" name="occasion" value="<%= oldInput.occasion %>" required>
          <option value="marriage">Marriage</option>
          <option value="bithday">Birthday</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="form-control">
        <label for="gender">Gender: </label>
        <select
          class="<%= validationErrors.find(e => e.param === 'gender') ? 'invalid' : '' %>"
          id="gender-select" name="gender" value="<%= oldInput.gender %>">
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="B">Both</option>
        </select>
      </div>

      <% if (editing) { %>
        <input type="hidden" value="<%= oldInput._id %>" name="productId">
      <% } %>
      <button class="btn" type="submit">
        <% if (editing) { %>
          Update Product
        <% } else { %>
          Add Product
        <% } %>
      </button>
    </form>
  </main>
  <%- include('../includes/end.ejs') %>