<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <p class="page-header centered"><strong>GiftKart</strong> | Admin Login</p>
    <form class="login-form" action="/admin/login" method="POST">
      <% if (errorMessage) { %>
          <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } %>
      <div class="form-control">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          value="<%= oldInput.email %>">
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          value="<%= oldInput.password %>">
          <span class="p-viewer">
            <i class="fa fa-eye" onclick="togglePasswordVisibility()" id="eye" ></i>
          </span>
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button style="margin-bottom: 1rem;" class="btn" type="submit">Login as Admin</button>
    </form>
  </main>
  <script>
    var eye = document.getElementById('eye');

    const togglePasswordVisibility = () => {

      eye.classList.toggle('active');

      let x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
<%- include('../includes/end.ejs') %>
