<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (orders.length === 0) { %>
      <h2>No orders to show</h2>
    <% } else { %>
      <ul class="orders-list">
        <% orders.forEach(order => { %>
          <li class="orders-list__item">
            <h3>Order #<%= order._id %></h3>
            <ul>
              <% order.products.forEach(p => { %>
                <li>
                    <%= p.productData.title %> (<%= p.quantity %>)
                </li>
              <% }); %>
            </ul>
            <h4>Total amount - &#8377;<%= order.totalAmount %></h4>
            <hr />
            <h4>
              Order Status: 
              <% if (order.status === 'placed') { %>
                <span style="color: #3F51B5;">Order placed</span>
              <% } else if (order.status === 'transit') { %>
                <strong style="color: #FF9800;">In transit</strong>
              <% } else if (order.status === 'delivered') { %>
                <strong style="color: green;">Delivered</strong>
              <% } else if (order.status === 'cancelled') { %>
                <strong style="color: red;">Cancelled</strong>
              <% } %>
              </h4>
            <h5>Placed on - <%= order.orderDate.toDateString() %> <%= order.orderDate.toTimeString() %></h5>
            <a class="btn accent filled" href="/admin/orders/<%= order._id %>">Order Details</a>
          </li>
        <% }); %>
      </ul>
    <% } %>
  </main>

<%- include('../includes/end.ejs') %>