<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
</head>

<body onload="getLocation()">
  <%- include('../includes/navigation.ejs', { cartItems: cartItems }) %>
  <main>
    <div style="margin: 0; padding: 0; display: flex;">
      <div style="width: 66vw;height: 80vh;">
        <div style="height: 100%; width: 100%;" id="map"></div>
        <script>
          const platform = new H.service.Platform({ apikey: 'QeQ1GSfDvpTOIJTJtLhZ5NT2sc2j3a3nPYLw_8XDEu0' });
          const defaultLayers = platform.createDefaultLayers();
          const map = new H.Map(document.getElementById('map'),
            defaultLayers.vector.normal.map, {
            zoom: 13,
            pixelRatio: window.devicePixelRatio || 1
          });
          window.addEventListener('resize', () => map.getViewPort().resize());
          const behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
          const ui = H.ui.UI.createDefault(map, defaultLayers);

          function showPosition(position) {
            var address = '<%= order.address.house %>' + ", " + '<%= order.address.street %>' + ", " + '<%= order.address.city %>'
            const searchText = address.toString();
            const geocoder = platform.getGeocodingService();
            geocoder.geocode({ searchText }, result => {
              const location = result.Response.View[0].Result[0].Location.DisplayPosition;
              const { Latitude: lat, Longitude: lng } = location;
              const marker = new H.map.Marker({ lat, lng });

              map.addObject(marker);

              const request = {
                mode: 'fastest;car',
                waypoint0: `geo!${lat},${lng}`,
                waypoint1: `geo!${position.coords.latitude},${position.coords.longitude}`,
                representation: 'display'
              };

              const router = platform.getRoutingService();
              router.calculateRoute(request, response => {
                const shape = response.response.route[0].shape.map(x => x.split(','));
                const linestring = new H.geo.LineString();
                shape.forEach(s => linestring.pushLatLngAlt(s[0], s[1]));

                const routeLine = new H.map.Polyline(linestring, {
                  style: { strokeColor: 'blue', lineWidth: 3 }
                });

                map.addObject(routeLine);

                map.getViewModel().setLookAtData({ bounds: routeLine.getBoundingBox() });
              });
            });
          }

          function getLocation() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
            } else {
              alert("Some Thing went wrong")
            }
          }
        </script>
      </div>
      <div style="border: none;" class="orders-list__item">
        <h3>Order #<%= order._id %></h3>
        <ul>
          <% order.products.forEach(p => { %>
          <li>
            <%= p.productData.title %> (<%= p.quantity %>)
          </li>
          <% }); %>
        </ul>
        <h4>Total amount - &#8377;<%= order.totalAmount %></h4>
        <hr />
        <h4>
          Order Status:
          <% if (order.status === 'transit') { %>
          <span style="color: #FF9800;">Pending Delivery</span>
          <% } else if (order.status === 'cancelled') { %>
          <strong style="color: red;">Cancelled</strong>
          <% } else { %>
          <strong style="color: green;">Delivered</strong>
          <% } %>
        </h4>
        <h4>Shipping address:</h4>
        <p>
          <strong>Name: </strong><%= order.address.name %><br />
          <strong>House: </strong><%= order.address.house %>,<br />
          <strong>Street: </strong><%= order.address.street %>,<br />
          <strong>City: </strong><%= order.address.city %>,<br />
          <strong>Pin: </strong><%= order.address.pin %>
        </p>
        <h5>Placed on - <%= order.orderDate.toDateString() %> <%= order.orderDate.toTimeString() %></h5>
        <% if (order.status === 'transit') { %>
        <div class="dropdown">
          <button class="btn">Change Status &#8595;</button>
          <div class="dropdown-content">
            <form action="/rider/rider-portal/change-order-status" method="POST">
              <input type="hidden" value="<%= order._id %>" name="orderId" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" value="delivered" name="orderStatus" />
              <% if (order.status === 'delivered') { %>
              <button disabled>Delivered</button>
              <% } else { %>
              <button type="submit">Delivered</button>
              <% } %>
            </form>
            <form action="/rider/rider-portal/change-order-status" method="POST">
              <input type="hidden" value="<%= order._id %>" name="orderId" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" value="cancelled" name="orderStatus" />
              <% if (order.status === 'cancelled') { %>
              <button disabled>Cancelled</button>
              <% } else { %>
              <button type="submit">Cancelled</button>
              <% } %>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>

  </main>

  <%- include('../includes/end.ejs') %>