<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
	<%- include('../includes/navigation.ejs', { cartItems: cartItems }) %>
	<main>
		
		<!-- this is modal -->
		<div id="modal_container" class="modal-container">
			<button id="modal-button" class="modal-button"><i class="fas fa-filter fa-lg"></i></button>
			<div id="modal" class="modal">
				<div class="modal-content">
					<span class="close">&times;</span>
					<%- include('../includes/filter-form.ejs') %>
				</div>
			</div>
		</div>

		<div class="main-container">
			<!-- this is side form -->
			<div class="filter-container side-form" id="filter_container">
				<%- include('../includes/filter-form.ejs') %>
			</div>
			
			<!-- this is rest products-page -->
			<div class="products-container">
				<% if (prods.length > 0) { %>
				<div class="grid">
					<% for (let product of prods) { %>
					<article class="card product-item">
						<div class="card__image">
							<img src="<%= product.imageUrl %>" alt="<%= product.title %>">
						</div>
						<div style="padding: .5rem 0">
							<div class="card__header">
								<h1 class="product__title"><%= product.title %></h1>
							</div>
							<div class="card__content">
								<h3 class="product__price">&#8377; <%= product.price %></h3>
							</div>
							<div class="card__actions">
								<a href="/products/<%= product._id %>" class="btn"><i class="fas fa-info-circle"></i>&nbsp;Details</a>
								<% if (isAuthenticated && !isAdmin && product.quantity > 0) { %>
								<%- include('../includes/add-to-cart.ejs', { product: product, redirect: '/products' }) %>
								<% } %>
							</div>
						</div>
					</article>
					<% } %>
				</div>
				<% } else { %>
				<h1>No products found!</h1>
				<% } %>
			</div>
		</div>
	</main>
	<script>
		var modal = document.getElementById("modal");
		var btn = document.getElementById("modal-button");
		var span = document.getElementsByClassName("close")[0];

		btn.onclick = function () {
			modal.style.display = "block";
		}

		span.onclick = function () {
			modal.style.display = "none";
		}
		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
	<%- include('../includes/end.ejs') %>