<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs', { cartItems: cartItems }) %>

    <main class="centered">
        <div class="product-detail-flex">
            <div class="detail-image">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <div class="detail-info">
                <h1><%= product.title %></h1>
                <% if(product.quantity > 0 ){%>
                    <p>We currently have <strong><%= product.quantity %></strong> item(s) in Stock</p>
                <% }else { %>
                    <h3>This item is currently out of stock</h3>
                <% } %>
                <p><%= product.description %></p>
                <h2>&#8377; <%= product.price %></h2>
                <% if (isAuthenticated && !isAdmin) { %>
                    <% if(product.quantity > 0 ) { %>
                        <%- include('../includes/add-to-cart.ejs', { product: product, redirect: '/products/' + product._id }) %>
                    <% } else { %>
                        <a class="btn accent filled">Notify me</a>
                    <% } %>
                <% } else { %>
                    <% if(product.quantity > 0 ) { %>
                        <a class="btn" href="/login?redirect=/products/<%= product._id %>"><i class="fas fa-cart-plus"></i>&nbsp;Login to Add to Cart</a>
                    <% } else { %>
                        <a class="btn accent filled">Notify me</a>
                    <% } %>
                <% } %>
            </div>
        </div>
        <hr>
        <% if (similarProducts.length > 0) { %>
        <h1>Similar Products</h1>
        <div class="grid">
            <% for (let similarProduct of similarProducts) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= similarProduct.title %></h1>
                </header>
                <div class="card__image">
                    <img src="<%= similarProduct.imageUrl %>" alt="<%= similarProduct.title %>">
                </div>
                <div class="card__content">
                    <h3 class="product__price">&#8377; <%= similarProduct.price %></h3>
                </div>
                <div class="card__actions">
                    <a href="/products/<%= similarProduct._id %>" class="btn"><i class="fas fa-info-circle"></i>&nbsp;Details</a>
                    <% if (isAuthenticated && !isAdmin) { %>
                        <%- include('../includes/add-to-cart.ejs', { product: similarProduct, redirect: '/products/' + product._id }) %>
                    <% } %>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h3>No Similar products found!</h3>
        <% } %>
    </main>

    <%- include('../includes/end.ejs') %>